footer.copyright-lumen.p-half-v
  a(
    href="http://lumendigital.co"
    target="_blank"
  )
    img(
      src="assets/img/Poweredby.png"
    )
link(
  rel="stylesheet"
  href="assets/css/vendor.css?r=" + rand
)
script(
  src="assets/js/web.js?r=" + rand
)
